.font-weight-500 {
    font-weight: 500;
}

.border-100 {
    border-radius: 100px;
}

.text-green {
    color: #28a745 !important;
}

#header_production_order input {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 13px !important;
}

#header_production_order label {
    color: #63605e !important;
}

#header_production_order input:focus { 
    border-bottom: 1px solid #28a745;
}

#btn_see_more:hover,
#btn_see_more:focus {
    color: #28a745 !important;
}

input:read-only {
    background: none !important;
}

#container_see_more:hover,
#header_production_order:hover + #container_see_more {
    margin-top: -25px;
    display: block !important;
    position: absolute;
    z-index: 999999;
}

.blurred-bg {
    background-color: rgb(248, 249, 250);
    filter: blur(10px);
}

.border-radius-0 {
    border-radius: 0;
}

/*******************
*  FLOATING LABELS *
********************/

.form-label-group {
    position: relative;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 2.5;
    color: #495057;
    border: 1px solid transparent;
    transition: all .1s ease-in-out;
}

.form-label-group input::placeholder,
.form-label-group input::-moz-placeholder,
.form-label-group input::-ms-input-placeholder,
.form-label-group input::-webkit-input-placeholder,
.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input {
    padding-top: 30px;
    padding-bottom: 10px;
}

.form-label-group input ~ label {
    font-size: 11px;
    font-weight: 500 !important;
    color: #777;
}