#table_activity thead  th,
#table_manpower thead  th,
#table_material thead  th {
    text-align: center;
    background-color: #28a745;
    color: white;
    font-weight: 500 !important;
    font-size: 15px !important;
}

#table_activity tbody td,
#table_manpower tbody td,
#table_material tbody td {
    font-weight: 400 !important;
    font-size: 13px !important;
}

#table_material tbody td:nth-child(2),
#table_material tbody td:nth-child(3), 
#table_material tbody td:nth-child(5),
#table_material tbody td:nth-child(6) {
    text-align: right;
} 

#table_activity>tbody tr:hover,
#table_manpower>tbody tr:hover,
#table_material>tbody tr:hover {
    background-color: #b6ffb2 !important;
}

#actPackedQty,
#actDowntime,
#actRemarks,
.remarks {
    background-color: transparent !important;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px #9B8864 solid ;
    font-size: 13px !important;
}

#act_remarks,
.remarks {
    resize: none;
}

td, th {
    border: 1px solid #9B8864 !important;
    background-color: rgba(155, 136, 100, 0.123);
}