<div class="container-fluid mt-4" id="container_manpower" *ngIf="manpowers.length > 0">
    <div class="table-responsive">
        <h6 class="text-center text-muted text-uppercase">Manpower</h6>
        <table class="table table-bordered table-sm table-hover text-center" id="table_manpower">
            <thead class="text-uppercase">
                <tr>
                    <th rowspan="2" class="align-middle">Position</th>
                    <th rowspan="2" class="align-middle" width="25%">Name</th>
                    <th colspan="2">Time</th>
                    <th rowspan="2" class="align-middle">Remarks</th>
                    <th rowspan="2" class="align-middle" width="15%">Last <br />Updated By</th>
                    <th colspan="2">Date</th>
                </tr>
                <tr>
                    <th width="6%">From</th>
                    <th width="6%">To</th >
                    <th>Entered</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let position of positions; let i = index;">
                    <td class="align-middle" data-label="Position">{{ position }}</td>
                    <td class="align-bottom td-editable" data-label="Manpower">
                        <div class="td-indicator-required"></div>
                        <!-- (focus)="manpowerFocus(manpowerID.value)" 
                        (change)="manpower($event)" -->
                        <select 
                            class="form-control manpower_list" 
                            max="10" 
                            name="manpowerID" 
                            #manpowerID 
                            (change)="handleChange($event)"
                            [(ngModel)]="manpowers[i].MANPOWER_ID"
                            [attr.selected_index]="-1"
                            #tdEditable >
                            <option value="-1">select</option>
                            <!-- FIX DISABLE ON LOAD -->
                            <option *ngFor="let manpower of accounts; let ii = index"
                                    [disabled]="manpowers[i].MANPOWER_ID === manpower.ID ? 1 : manpower.disabled"
                                    value="{{ manpower.ID }}">
                                    {{ manpower.FIRST_NAME}} {{ manpower.LAST_NAME}}
                            </option>
                        </select>
                    </td>
                    <td class="align-bottom td-editable" data-label="Start">
                        <div class="td-indicator"></div>
                        <input type="text" 
                            class="form-control start_time" 
                            name="startTime"
                            #startTime 
                            [(ngModel)]="manpowers[i].START_TIME"
                            (focus)="$event.target.select();"
                            (keydown)="limit(startTime.value, $event.key)"
                            (keyup.enter)="time(startTime.value, $event)"
                            (keydown.enter)="preventEnter($event)"
                            placeholder="HHmm"
                            #tdEditable />
                    </td>
                    <td class="align-bottom td-editable" data-label="End">
                        <div class="td-indicator"></div>
                        <input type="text" 
                                class="form-control end_time"
                                name="endTime" 
                                #endTime 
                                [(ngModel)]="manpowers[i].END_TIME"
                                (focus)="$event.target.select();"
                                (keydown)="limit(endTime.value, $event.key)"
                                (keyup.enter)="time(endTime.value, $event)"
                                (keydown.enter)="preventEnter($event)"
                                placeholder="HHmm"
                                #tdEditable />
                    </td>
                    <td class="align-bottom td-editable" data-label="Remarks">
                        <div class="td-indicator"></div>
                        <textarea class="form-control remarks" 
                                  (keyup.enter)="time('', $event)"
                                  (keydown.enter)="preventEnter($event)" 
                                  autosize rows="1" 
                                  [(ngModel)]="manpowers[i].REMARKS"
                                  #tdEditable></textarea>
                    </td>
                    <td class="align-middle" data-label="Updated By">{{manpowers[i].LAST_UPDATED_BY}}</td>
                    <td class="align-middle" data-label="Date Entered">{{manpowers[i].DATE_ENTERED}}</td>
                    <td class="align-middle" data-label="Date Updated">{{manpowers[i].DATE_UPDATED}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #loginModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title pull-left text-muted">INVALID</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body m-4">
        <ngb-alert type="danger">Manpower was already assigned.</ngb-alert>
    </div>
</ng-template>