<div class="container-fluid mt-4" id="container_activity">
    <div class="w-50">
        <span class="small text-muted font-weight-light">Legends: &nbsp;&nbsp;</span>
        <p class="small font-weight-500 m-0 position-relative d-inline-block mr-2">
            <span class="font-weight-bold text-danger">
                <div class="td-indicator"></div>
            </span>
            <i class="text-underline legend-editable">&nbsp; &nbsp; optional &nbsp; &nbsp;</i>
        </p>
        <p class="small font-weight-500 m-0 position-relative d-inline-block">
            <span class="font-weight-bold text-danger">
                <div class="td-indicator-required"></div>
            </span>
            <i class="text-underline legend-editable">&nbsp; &nbsp; required &nbsp; &nbsp;</i>
        </p>
    </div>
    <div class="table-responsive">
        <h6 class="text-center text-muted text-uppercase">Activity</h6>
        <table class="table table-bordered table-sm table-hover text-center" id="table_activity">
            <thead class="text-uppercase">
                <tr>
                    <th colspan="2" class="align-middle">Time</th>
                    <th rowspan="2" class="align-middle">Lot Number</th>
                    <th colspan="3" class="align-middle">Quantity</th>
                    <th rowspan="2" class="align-middle">Downtime</th>
                    <th rowspan="2" class="align-middle">Remarks</th>
                    <th rowspan="2" class="align-middle">Last <br /> Updated By</th>
                    <th colspan="2" class="align-middle">Date</th>
                </tr>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Packed</th>
                    <th>Adjustment</th>
                    <th>Total</th>
                    <th>Entered</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="align-bottom td-editable">
                        <div class="td-indicator"></div>
                        <input
                            id="actLotNumber"
                            name="lotNumber"
                            type="number"
                            required
                            #headerInput
                            [(ngModel)]="actLotNumber"
                            (keyup.enter)="handleKeyUp($event)"
                            class="form-control" />
                    </td>
                    <td class="align-bottom td-editable">
                        <div class="td-indicator"></div>
                        <input
                            id="actPackedQty"
                            name="packedQty"
                            type="number"
                            min="0"
                            required
                            #headerInput
                            [(ngModel)]="actPackedQty"
                            (keyup.enter)="handleKeyUp($event)"
                            class="form-control" />
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td class="align-bottom td-editable">
                        <div class="td-indicator"></div>
                        <input
                            id="actDowntime"
                            name="downtime"
                            type="number"
                            min="0"
                            value="0"
                            #headerInput
                            [(ngModel)]="actDowntime"
                            (keyup.enter)="handleKeyUp($event)"
                            class="form-control"/>
                    </td>
                    <td class="align-bottom td-editable">
                        <div class="td-indicator"></div>
                        <textarea
                            id="actRemarks"
                            name="remarks"
                            rows="1"
                            autosize
                            #headerInput
                            [(ngModel)]="actRemarks"
                            (keyup.enter)="handleKeyUp($event)"
                            (keydown.enter)="handleKeyDown($event)"
                            class="form-control">
                        </textarea>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr #contentTr *ngFor="let activity of activities; let i = index;">
                    <td class="align-middle">{{ activity.start_time }}</td>
                    <td class="align-middle">{{ activity.end_time }}</td>
                    <td class="align-middle">{{ activity.lot_number}}</td>
                    <td class="align-middle">
                        {{ activity.packed | number: '' }}
                    </td>
                    <td class="align-middle td-editable">
                        <div class="td-indicator"></div>
                        <input 
                            type="number"
                            name="adjustment"
                            id="adjustment"
                            class="form-control editable-content text-right"
                            [(ngModel)]="activities[i].adjustment"
                            [attr.trIndex]="i"
                            [attr.columnIndex]="0"
                            (focus)="$event.target.select();"
                            (keydown.enter)="handleKeyDown($event)"
                            (keyup.enter)="handleTrKeyUp($event)"
                            #editableTd >
                    </td>
                    <td class="align-middle">{{ activity.packed + activity.adjustment | number: '' }}</td>
                    <td class="align-middle td-editable">
                        <input
                            type="number"
                            name="downtime"
                            id="downtime"
                            class="form-control editable-content text-right"
                            [value]="activity.downtime" [attr.trIndex]="i"
                            [attr.columnIndex]="1"
                            (focus)="$event.target.select();"
                            (keydown.enter)="handleKeyDown($event)"
                            (keyup.enter)="handleTrKeyUp($event)"
                            #editableTd >
                        <div class="td-indicator"></div>
                    </td>
                    <td class="align-middle td-editable">
                        <textarea
                            name="remarks"
                            id="remarks"
                            class="form-control editable-content"
                            [value]="activity.remarks"
                            [attr.trIndex]="i"
                            [attr.columnIndex]="2"
                            (keydown.enter)="handleKeyDown($event)"
                            (keyup.enter)="handleTrKeyUp($event)"
                            #editableTd 
                            autosize
                            rows="1">
                        </textarea>
                        <div class="td-indicator"></div>
                    </td>
                    <td class="align-middle">{{ activity.last_updated_by }}</td>
                    <td class="align-middle">{{ activity.date_entered }}</td>
                    <td class="align-middle">{{ activity.date_updated }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>